{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}">
</head>
<body>
<div class="container">
    <h2>列表页面</h2>
    {% if show_add_btn %}
        <div class="pull-right">
            <a class="btn btn-default" href="{{ add_url}}">添加</a>
        </div>
        <hr>
    {% endif %}

    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            {% for head in head_list %}
            <th>{{ head }}</th>
            {% endfor %}

        </tr>
        </thead>

        <tbody>
        {% for data in data_list %}
            <tr>
            {% for field in data %}
            <td>{{ field }}</td>
            {% endfor %}

            </tr>
        {% endfor %}

        </tbody>

    </table>


</div>


</body>
</html>